{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "debug": false,
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "add-module-exports"
  ]
}
